<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.suyuan.mapper.CertificationMapper">

    <resultMap type="Certification" id="CertificationResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="logo" column="logo"/>
        <result property="license" column="license"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectCertificationVo">
        select id, name, enterprise_id, logo, license, create_by, create_time, update_by, update_time from certification
    </sql>

    <select id="selectCertificationList" parameterType="Certification" resultMap="CertificationResult">
        <include refid="selectCertificationVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="enterpriseId != null "> and enterprise_id = #{enterpriseId}</if>
            <if test="logo != null  and logo != ''"> and logo = #{logo}</if>
            <if test="license != null  and license != ''"> and license = #{license}</if>
        </where>
    </select>
    
    <select id="selectCertificationById" parameterType="Integer" resultMap="CertificationResult">
        <include refid="selectCertificationVo"/>
        where id = #{id}
    </select>

    <select id="selectCertification" parameterType="Certification" resultMap="CertificationResult">
        <include refid="selectCertificationVo"/>
        <where>
            <if test="name != null  and name != ''"> and name = #{name}</if>
            <if test="enterpriseId != null and enterpriseId != ''"> and enterprise_id = #{enterpriseId}</if>
            <if test="logo != null  and logo != ''"> and logo = #{logo}</if>
            <if test="license != null  and license != ''"> and license = #{license}</if>
        </where>
    </select>

    <insert id="insertCertification" parameterType="Certification" useGeneratedKeys="true" keyProperty="id">
        insert into certification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="enterpriseId != null">enterprise_id,</if>
            <if test="logo != null">logo,</if>
            <if test="license != null">license,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="enterpriseId != null">#{enterpriseId},</if>
            <if test="logo != null">#{logo},</if>
            <if test="license != null">#{license},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCertification" parameterType="Certification">
        update certification
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="enterpriseId != null">enterprise_id = #{enterpriseId},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="license != null">license = #{license},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCertificationById" parameterType="Integer">
        delete from certification where id = #{id}
    </delete>

    <delete id="deleteCertificationByIds" parameterType="Integer">
        delete from certification where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>